django>=5.0
djangorestframework
django-cors-headers
python-dotenv
pymupdf
openai
requests
python-docx
# pywin32 - только для Windows (конвертация .doc), НЕ устанавливать на Linux-сервере

# Продакшн
gunicorn>=21.0
psycopg2-binary>=2.9

# Celery + Redis
celery>=5.3
redis>=5.0
django-celery-results>=2.5

# Auth
django-allauth>=0.61.1
dj-rest-auth>=5.0.2
